<a class="btn-primary btn btn-block" href="./">Thoát</a>
<div class="container p-3">
  <div class="row justify-content-around">
    <form class="col-md-4 bg-light p-3" action="/them" method="POST">
      <h1 class="text-center text-uppercase h2">Thêm</h1>

      <div class="from-group">
        <label for="fullname">Tên:</label>
        <input class="form-control" type="text" name="ten" >
      </div>
      <div class="from-group">
        <label for="">Tuổi</label>
        <input class="form-control" type="text" name="tuoi" >
      </div>

      <div class="from-group">
        <label for="fullname">Điểm trung bình</label>
        <input class="form-control" type="text" name="diemtb" >
      </div>

      <div class="from-group">
        <label for="">Địa chỉ</label>
        <input class="form-control" type="text" name="diachi">
      </div>
  <br>
      <button class="btn-primary btn" type="submit">Thêm</button>

    </form>
  </div>
</div>